*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(150, 145, 145);
    height: 80px;
    color: white;
}

body {
    background-color: black;
}

button{
    display: flex;
    border: none;
    background-color: grey;
    border-radius: 0.2999999999999998rem;
    padding: 0 0.5rem;
    text-align: center;
    height: 1.8rem;
    margin-right: 0.5rem;
    align-items: center;
    margin-bottom: 3rem;
}

.flex{
    display: flex;

}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.flex-end{
    justify-content: end;
    align-items: center;

}

.speaker{
    height: 20px;
}

.container{
    max-width: 1370px;
    height: 20px;
    margin: 0 auto;
}

.relative{
    position: relative;
}

img{
    width: 220px;
    height: 140px;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.user{
    position: absolute;
    color: white;
    width: 146px;
    background-color: rgba(128, 128, 128, 10);
    bottom: 10px;
}
